:root {
  --gutter: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Karla, sans-serif;
  color: #1d1f2e;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  margin-left: auto;
  margin-left: auto;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

.container-max {
  width: 1100px;
  min-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.container-min {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin-left: calc(var(--gutter) / -2);
  margin-right: calc(var(--gutter) / -2);
}

.col-1 {
  flex-basis: 8.33%;
}

.col-2 {
  flex-basis: 16.66%;
}

.col-3 {
  flex-basis: 25%;
}

.col-4 {
  flex-basis: 33.33%;
}

.col-5 {
  flex-basis: 41.67%;
}

.col-6 {
  flex-basis: 50%;
}

.col-7 {
  flex-basis: 58.33%;
}

.col-8 {
  flex-basis: 66.67%;
}

.col-9 {
  flex-basis: 75%;
}

.col-10 {
  flex-basis: 83.33%;
}

.col-11 {
  flex-basis: 91.67%;
}

.col-12 {
  flex-basis: 100%;
}

[class*="col-"] {
  padding-left: calc(var(--gutter) / 2);
  padding-right: calc(var(--gutter) / 2);
  order: 12;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}

.order-6 {
  order: 6;
}

.order-7 {
  order: 7;
}

.order-8 {
  order: 8;
}

.order-9 {
  order: 9;
}

.order-10 {
  order: 10;
}

.order-11 {
  order: 11;
}

.order-12 {
  order: 12;
}

.flex {
  display: flex;
}
.flex.row {
  flex-direction: row;
}

.flex.column {
  flex-direction: column;
}

.flex.wrap {
  flex-wrap: wrap;
}

.flex.j-center {
  justify-content: center;
}

.flex.j-end {
  justify-content: end;
}

.flex.j-between {
  justify-content: space-between;
}

.flex.a-start {
  align-items: flex-start;
}

.flex.a-center {
  align-items: center;
}

.flex.a-end {
  align-items: flex-end;
}
/* header */
.header {
  align-items: center;
}
.menu-item {
  position: relative;
  margin-top: 2px;
  margin-bottom: 2px;
  color: #1d1f2e;
  font-size: 10px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px;
}
.logo {
  width: 112px;
  position: relative;
  text-decoration: none;
  color: #333333;
}
/* section-header */
.section-header {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  height: 400px;
  text-align: center;
  justify-content: center;
  background-image: linear-gradient(
      180deg,
      rgba(5, 8, 39, 0.4),
      rgba(5, 8, 39, 0.4)
    ),
    url(https://assets.website-files.com/5be96251aaba7a7b19ecdf69/5be96251aaba7a58aaecdfba_Header-Pic.jpg);
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  color: #fff;
  max-width: 1440px;
  min-height: 530px;
  min-width: 880px;
}
.header-text {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.header-headline-wrap {
  margin-bottom: 25px;
}
.label {
  position: static;
  display: block;
  opacity: 0.6;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.label.cc-cover-label {
  opacity: 0.8;
}
.header-headline {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 48px;
  line-height: 60px;
}
.big-paragraph.cc-cover-paragraph {
  margin-bottom: 30px;
  align-self: start;
  opacity: 0.9;
  color: #fff;
}
.big-paragraph {
  font-size: 18px;
  line-height: 30px;
}
.white-button {
  position: relative;
  z-index: 50;
  display: inline-block;
  padding: 18px 24px;
  justify-content: center;
  border-bottom-style: none;
  border-radius: 0px;
  background-color: #fff;
  box-shadow: 0 2px 6px 0 rgb(29 31 46 / 10%);
  transition: background-color 400ms ease, opacity 400ms ease,
    box-shadow 400ms ease;
  color: #1d1f2e;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}
.w-inline-block {
  max-width: 100%;
}

/* wrap */
.wrap {
  position: relative;
  display: block;
  width: 940px;
  margin-left: 279.444px;
  margin-right: 279.444px;
  margin-top: 100px;
}

.content-wrap {
  display: block;
  width: 70%;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
  text-align: center;
}
h2 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 400;
}
.paragraph {
  color: rgba(29, 31, 46, 0.7);
}
p {
  margin-bottom: 15px;
}
.underlined-link.cc-homepage-link {
  margin-top: 10px;
}
.underlined-link {
  display: inline-block;
  border-bottom: 2px solid rgba(162, 95, 75, 0.2);
  transition: color 400ms ease, border-color 400ms ease;
}
a {
  display: inline-block;
  border-bottom: 1px none rgba(162, 95, 75, 0.3);
  color: #a25f4b;
  text-decoration: none;
}
.label.cc-subheadline {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.label {
  position: static;
  display: block;
  opacity: 0.6;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.pic-description.cc-product-category {
  display: inline-block;
  margin-bottom: 5px;
  color: #1d1f2e;
  margin-top: 30px;
}
.pic-description {
  margin-top: 10px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  width: 100%;
}
.product-price-category {
  display: inline-block;
  color: rgba(29, 31, 46, 0.7);
  text-align: center;
  width: 100%;
}
.col-6 {
  position: relative;
}
.mug-hover {
  text-transform: uppercase;
  display: none;
  width: 90%;
  text-align: center;
  color: rgba(18, 19, 27, 0.7);
  background-color: beige;
  font-size: 15px;
  font-weight: 400;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  z-index: 20;
  position: absolute;
  top: 365px;
  left: 5%;
  width: 400;
  transition: 0.5s ease;
}
.col-6:hover .mug-hover {
  display: block;
}
.col-4 {
  position: relative;
  margin-top: 60px;
}

.products-hover {
  text-transform: uppercase;
  display: none;
  width: 90%;
  text-align: center;
  color: rgba(9, 9, 12, 0.7);
  background-color: rgb(255, 255, 253);
  font-size: 15px;
  font-weight: 400;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  z-index: 20;
  position: absolute;
  top: 65%;
  left: 5%;
  transition-delay: 1s;
}
.col-4:hover .products-hover {
  display: block;
}
.category-price-wrap {
  min-height: 42px;
  justify-content: center;
  align-items: baseline;
}
.category-1 {
  display: inline-block;
  margin-left: 50px;
  color: #a25f4b;
  font-size: 20px;
  line-height: 32px;
}
.category-2 {
  color: rgba(29, 31, 46, 0.4);
  display: inline-block;
  margin-left: 30px;
}
/* .category-price-wrap {
}

.category-price-wrap p {
  display: inline-block !important;
} */
.buy-img {
  margin-top: 0px !important;
  margin-bottom: 20px !important;
}

.magazine-content-wrap {
  padding-left: 60px;
}
.magazine-headline {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 36px;
  line-height: 50px;
}
.dark-button {
  position: relative;
  z-index: 50;
  display: inline-block;
  padding: 18px 24px;
  justify-content: center;
  border-radius: 0px;
  background-color: #1d1f2e;
  box-shadow: none;
  transition: background-color 400ms ease, opacity 400ms ease,
    box-shadow 400ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}
.parallax-section {
  height: 340px;
  margin-bottom: 100px;
  background-image: url(https://assets.website-files.com/5be9625…/5be9625…_Section%20Image%202.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}
