* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1200px) {
    .container {
        width: 1120px;
    }
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.j-center {
    justify-content: center;
}

.j-end {
    justify-content: flex-end;
}

.j-between {
    justify-content: space-between;
}

.a-start {
    align-items: flex-start;
}

.a-center {
    align-items: center;
}

.a-end {
    align-items: flex-end;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.hidden {
    display: none;
}

@media (min-width: 1200px) {
    .col-lg-1 {
        width: 8.33%;
    }
    .col-lg-2 {
        width: 16.66%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33.33%;
    }
    .col-lg-5 {
        width: 41.66%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.33%;
    }
    .col-lg-8 {
        width: 66.66%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-10 {
        width: 83.33%;
    }
    .col-lg-11 {
        width: 91.66%;
    }
    .col-lg-12 {
        width: 100%;
    }
    .lg-hidden {
        display: none;
    }
    .lg-block {
        display: block;
    }
    .hidden {
        display: flex;
    }
    p {
        width: 80%;
    }
}

body {
    font-family: Work Sans, sans-serif;
    line-height: 1.65;
    letter-spacing: .004em;
    background-color: #f6f6f6;
    color: #5f5f5f;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    display: block;

}

/* header */

.bg-img {
    background-image: url(http://unvab.com/snow-free-html/assets/images/home-7.jpg);
    background-color: rgba(12, 12, 12, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: 50% 50%;
    height: 800px;
    z-index: -2;
}

.background-color {
    background-color: rgba(12, 12, 12, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: 50% 50%;
    height: 800px;
    z-index: -1;
}

.header {
    background-color: rgb(252, 252, 251);
    padding-top: 15px;
    position: fixed;
    width: 100%;
}

.nk-navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    /* margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
    /* padding-inline-start: 40px; */
}

a {
    position: relative;
    padding: 6px 14.6px;
    display: block;
    text-transform: uppercase;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
    font-size: .96rem;
}

.nk-nav-table {
    height: 50px;
    z-index: 1000;
}

.text-white {
    color: #fff!important;
    text-align: center;
}

.nk-subtitle {
    text-transform: uppercase;
    font-family: inherit;
    font-size: .93rem;
    letter-spacing: .2em;
    margin-bottom: 1.1rem;
    height: 15px;
    letter-spacing: 2.79px;
    line-height: 15.345px;
    margin-block-end: 16.5px;
    margin-block-start: 0px;
    margin-bottom: 16.5px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-top: 110px;
    text-size-adjust: 100%;
}

.display-3 {
    font-size: 3.4rem;
    font-family: Playfair Display, serif;
    font-weight: 700;
}

.fw-400 {
    font-weight: 400!important;
    padding: 0px;
    margin: 0px;
    height: 60px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
}

.nk-btn {
    display: inline-block;
    border: 0;
    padding: 18px 25px;
    font-size: .96rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    text-transform: uppercase;
    transition: all .5s;
    background-color: #252525;
    color: #fff;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

.button {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 80px
}

.icon {
    display: flex;
    margin-top: 180px;
}

.bi-arrow-down-circle {
    color: rgba(238, 238, 242, 0.57);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    /* margin-left: 100px; */
}

/* Mobile */

.bi.bi-list {
    color: #0c0c0c;
    font-size: 30px;
}

.style-menu-mobile a {
    padding-top: 20px;
    text-align: center;
    font-family: Playfair Display, serif;
    font-size: 1.7rem;
    text-transform: none;
    font-weight: 700;
    color: #d8d8d8!important;
}

.item-menu-sibling {
    padding-top: 20px;
}

.style-menu-mobile {
    background-image: url(http://unvab.com/snow-free-html/assets/images/bg-menu.jpg);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-size: cover;
  z-index: 2;
  display: none;
  background-position-x: 50%;
background-position-y: 50%;
bottom: 0px;
}
.close-menu {
    color: azure!important;
}
 .nk-nav-social {
    padding: 21px 20px;
    margin-left: auto;
    margin-right: auto;
}
.nk-nav-social>ul li>a {
    display: block;
    font-size: 1.13rem;
    color: #d8d8d8;
    margin: 3px 6px;
    padding: 2px;
}
.display-4 {
    font-size: 2.6rem;
    text-align: center;
}
.display-1, .display-2, .display-3, .display-4, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: Playfair Display,serif;
    color: #171717;
    font-weight: 700;
}
.bg-white {
    background-color: rgb(255, 255, 255);
text-align: center;
}
h2 {
    display: block;
   
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}
.text-center {
    text-align: center;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0;
    margin-bottom: 1.6rem;
    margin-left: auto;
    margin-right: auto;
}
img {
    vertical-align: middle;
}
.nk-gap-4 {
padding-top: 50px;
}
.vertical {
    background-color: rgba(9, 9, 9, 0.535);
  color: #d8d8d8;
 
   
}
.nk-ibox-icon {
    font-size: 40px;
}
.vertical-pading {
    height: 30px;
  
}
.nk-ibox-1 {
    margin-left: 30px;
   margin-top: 20px;
   min-height: 50px;
}
.nk-ibox-cont{
margin-left: 72px;
font-weight: 500;
}
.nk-ibox-title {
    font-weight: 500;
        font-size: 1.25rem;
            color: #fff!important;
}
.mt-5 {
    width: 50px;
}
.mt-6 {
    width: 20px;
}
.nk-portfolio-item {
    position: relative;

    background-image: url(http://unvab.com/snow-free-html/assets/images/portfolio-4-sm.jpg);
     background-size: cover;
     background-position: 50%;
     height: 350px;
   
}
    
.nk-portfolio-text {
    position: absolute;
    display: none;
    width: 100%;
    height: 350px;
    z-index: 11;
    transition-delay: 1s;
    top: 0;
    left: 0;
}
.portfolio-text-1  {
  color: #d8d8d8;
  text-align: center;
  padding-top: 110px;
  padding-bottom: 0px;
    transition-delay: 1s;
    margin-bottom: 0rem;
  git
}
.portfolio-text-2  {
  color: #d8d8d8;
  text-align: center;
font-weight: 500;
padding-top: 10px;
transition-delay: 1s;
 
}
.nk-portfolio-item:hover .nk-portfolio-text {
    display: block;
    background-color: rgba(9, 8, 8, 0.926);
 
    
}