.flex-container {
  display: flex;
}
.left-box {
  margin-top: 52px;
  text-align: center;
  width: 475px;
}
._7kuimg {
  width: 320px;
  aspect-ratio: auto 320 / 400;
  height: 400px;
  text-align: center;
}
._15lf {
  color: #3b5998;
  font-family: "Freight Sans Semibold", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 28px;
  line-height: 30px;
  margin-left: 100px;
  margin-top: 15px;
  text-align: center;
  width: 300px;
  word-spacing: -1px;
}
._15lg {
  color: #1d2129;
  font-family: "Freight Sans Pro Book", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 20px;
  line-height: 26px;
  margin-left: 100px;
  margin-top: 15px;
  text-align: center;
  width: 300px;
  word-spacing: -1px;
}
._6lux {
  font-size: 17px;
  width: 364px;
  padding: 6px;
  display: inline-block;
}
.inputtext_55r1_6luy {
  text-align: center;
  border-radius: 6px;
  font-size: 17px;
  padding: 14px 16px;
  width: 330px;
  border: 1px solid #dddfe2;
  height: 22px;
  background-clip: border-box;
  border-bottom-color: rgb(221, 223, 226);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(221, 223, 226);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(221, 223, 226);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(221, 223, 226);
  border-top-right-radius: 6px;
  border-top-style: solid;
  border-top-width: 1px;
  color: rgb(29, 33, 41);
  cursor: text;
  direction: ltr;
  display: inline-block;
}
input {
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
}
